
body{
    font-family: 'Roboto', sans-serif;
}

.other-name{
color: rgba(46, 47, 66, 1);
}
.logo{
    
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
color: rgba(77, 90, 229, 1);
}