
body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.link{
    text-decoration: none;
}
.list{
    list-style-type: none;
}
.logo{
    
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
color: rgba(77, 90, 229, 1);
}
.other-name{
    color: rgba(46, 47, 66, 1);
    }
    .menu-link{
 font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.50; /* 150% */
letter-spacing: 0.02em;
color:#2e2f42;
    }
    .contact-info{
        font-style: normal;
    }
    .link-conact{
 color: #434455;
 font-family: 'Roboto', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
 line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
 }

 .link-conact, :hover,
 .link-conact, :focus{
   color: #404bbf;
 }
 .first{
    background: #2E2F42;
 }
 .title{
    color:#FFF;
    
    /* Header 1 */
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07; /* 107.143% */
    letter-spacing: 0.02em;
 }

 
 .button{
    color: #FFF;
font-size: 16px;

font-weight: 500;
line-height: 1.50; /* 150% */
letter-spacing: 0.04em;
background-color: #4D5AE5;
cursor: pointer;
}
.button, :hover,
.button, :focus{
    background:  #404BBF;
}
.title-colum{
    color: var(--NAVY-BLUE, #2E2F42);

    /* Header 3 */
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.20; /* 120% */
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.colum-nfo{
    color: #434455;

    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;
    color:#434455;
    
}